In [1]:
import pandas as pd

In [2]:
zillow_avg_data = ('resources/Zillow_Data/Avg_Home_County.csv')
bls_data = ('resources/BLSData/Bls_concat.csv')

In [3]:
df_z_data = pd.read_csv(zillow_avg_data, encoding="ISO-8859-1", low_memory=False)
bls = pd.read_csv(bls_data, encoding="ISO-8859-1", low_memory=False)

In [4]:
df_z_data

               RegionName State   FIPS  Year      Avg_Price
0      Los Angeles County    CA   6037  2009  394466.666667
1      Los Angeles County    CA   6037  2010  388941.666667
2      Los Angeles County    CA   6037  2011  364758.333333
3      Los Angeles County    CA   6037  2012  361508.333333
4      Los Angeles County    CA   6037  2013  417183.333333
5      Los Angeles County    CA   6037  2014  458633.333333
6      Los Angeles County    CA   6037  2015  489950.000000
7      Los Angeles County    CA   6037  2016  529350.000000
8      Los Angeles County    CA   6037  2017  569558.333333
9      Los Angeles County    CA   6037  2018  608025.000000
10            Cook County    IL  17031  2009  210441.666667
11            Cook County    IL  17031  2010  191125.000000
12            Cook County    IL  17031  2011  167691.666667
13            Cook County    IL  17031  2012  156833.333333
14            Cook County    IL  17031  2013  165841.666667
15            Cook County    IL  17031  2014  179041.666667
16            Cook County    IL  17031  2015  189400.000000
17            Cook County    IL  17031  2016  199491.666667
18            Cook County    IL  17031  2017  210516.666667
19            Cook County    IL  17031  2018  220666.666667
20          Harris County    TX  48201  2009  130308.333333
21          Harris County    TX  48201  2010  128825.000000
22          Harris County    TX  48201  2011  123666.666667
23          Harris County    TX  48201  2012  122000.000000
24          Harris County    TX  48201  2013  126941.666667
25          Harris County    TX  48201  2014  136391.666667
26          Harris County    TX  48201  2015  148525.000000
27          Harris County    TX  48201  2016  162675.000000
28          Harris County    TX  48201  2017  173266.666667
29          Harris County    TX  48201  2018  183533.333333
...                   ...   ...    ...   ...            ...
19690        Irion County    TX  48235  2009            NaN
19691        Irion County    TX  48235  2010   84070.000000
19692        Irion County    TX  48235  2011   83358.333333
19693        Irion County    TX  48235  2012   86341.666667
19694        Irion County    TX  48235  2013   90575.000000
19695        Irion County    TX  48235  2014   96491.666667
19696        Irion County    TX  48235  2015  104816.666667
19697        Irion County    TX  48235  2016  112991.666667
19698        Irion County    TX  48235  2017  121058.333333
19699        Irion County    TX  48235  2018  123508.333333
19700      Prairie County    MT  30079  2009            NaN
19701      Prairie County    MT  30079  2010  107980.000000
19702      Prairie County    MT  30079  2011  108491.666667
19703      Prairie County    MT  30079  2012  109658.333333
19704      Prairie County    MT  30079  2013  114400.000000
19705      Prairie County    MT  30079  2014  116516.666667
19706      Prairie County    MT  30079  2015  119083.333333
19707      Prairie County    MT  30079  2016  123708.333333
19708      Prairie County    MT  30079  2017  116391.666667
19709      Prairie County    MT  30079  2018  109008.333333
19710      Daggett County    UT  49009  2009            NaN
19711      Daggett County    UT  49009  2010  203140.000000
19712      Daggett County    UT  49009  2011  192808.333333
19713      Daggett County    UT  49009  2012  195800.000000
19714      Daggett County    UT  49009  2013  210533.333333
19715      Daggett County    UT  49009  2014  224708.333333
19716      Daggett County    UT  49009  2015  236633.333333
19717      Daggett County    UT  49009  2016  261958.333333
19718      Daggett County    UT  49009  2017  277558.333333
19719      Daggett County    UT  49009  2018  281441.666667

[19720 rows x 5 columns]

In [5]:
df_z_data['FIPS'] = df_z_data['FIPS'].astype(object)
df_z_data['FIPS'] = df_z_data['FIPS'].apply(lambda x: '{0:0>5}'.format(x))
df_z_data

               RegionName State   FIPS  Year      Avg_Price
0      Los Angeles County    CA  06037  2009  394466.666667
1      Los Angeles County    CA  06037  2010  388941.666667
2      Los Angeles County    CA  06037  2011  364758.333333
3      Los Angeles County    CA  06037  2012  361508.333333
4      Los Angeles County    CA  06037  2013  417183.333333
5      Los Angeles County    CA  06037  2014  458633.333333
6      Los Angeles County    CA  06037  2015  489950.000000
7      Los Angeles County    CA  06037  2016  529350.000000
8      Los Angeles County    CA  06037  2017  569558.333333
9      Los Angeles County    CA  06037  2018  608025.000000
10            Cook County    IL  17031  2009  210441.666667
11            Cook County    IL  17031  2010  191125.000000
12            Cook County    IL  17031  2011  167691.666667
13            Cook County    IL  17031  2012  156833.333333
14            Cook County    IL  17031  2013  165841.666667
15            Cook County    IL  17031  2014  179041.666667
16            Cook County    IL  17031  2015  189400.000000
17            Cook County    IL  17031  2016  199491.666667
18            Cook County    IL  17031  2017  210516.666667
19            Cook County    IL  17031  2018  220666.666667
20          Harris County    TX  48201  2009  130308.333333
21          Harris County    TX  48201  2010  128825.000000
22          Harris County    TX  48201  2011  123666.666667
23          Harris County    TX  48201  2012  122000.000000
24          Harris County    TX  48201  2013  126941.666667
25          Harris County    TX  48201  2014  136391.666667
26          Harris County    TX  48201  2015  148525.000000
27          Harris County    TX  48201  2016  162675.000000
28          Harris County    TX  48201  2017  173266.666667
29          Harris County    TX  48201  2018  183533.333333
...                   ...   ...    ...   ...            ...
19690        Irion County    TX  48235  2009            NaN
19691        Irion County    TX  48235  2010   84070.000000
19692        Irion County    TX  48235  2011   83358.333333
19693        Irion County    TX  48235  2012   86341.666667
19694        Irion County    TX  48235  2013   90575.000000
19695        Irion County    TX  48235  2014   96491.666667
19696        Irion County    TX  48235  2015  104816.666667
19697        Irion County    TX  48235  2016  112991.666667
19698        Irion County    TX  48235  2017  121058.333333
19699        Irion County    TX  48235  2018  123508.333333
19700      Prairie County    MT  30079  2009            NaN
19701      Prairie County    MT  30079  2010  107980.000000
19702      Prairie County    MT  30079  2011  108491.666667
19703      Prairie County    MT  30079  2012  109658.333333
19704      Prairie County    MT  30079  2013  114400.000000
19705      Prairie County    MT  30079  2014  116516.666667
19706      Prairie County    MT  30079  2015  119083.333333
19707      Prairie County    MT  30079  2016  123708.333333
19708      Prairie County    MT  30079  2017  116391.666667
19709      Prairie County    MT  30079  2018  109008.333333
19710      Daggett County    UT  49009  2009            NaN
19711      Daggett County    UT  49009  2010  203140.000000
19712      Daggett County    UT  49009  2011  192808.333333
19713      Daggett County    UT  49009  2012  195800.000000
19714      Daggett County    UT  49009  2013  210533.333333
19715      Daggett County    UT  49009  2014  224708.333333
19716      Daggett County    UT  49009  2015  236633.333333
19717      Daggett County    UT  49009  2016  261958.333333
19718      Daggett County    UT  49009  2017  277558.333333
19719      Daggett County    UT  49009  2018  281441.666667

[19720 rows x 5 columns]

In [6]:
#bls['FIPS'].str.lstrip('0')
bls

,Unnamed: 0,FIPS,St,Cnty,Own,NAICS,Year,Qtr,Area Type,St Name,...,Ownership,Industry,Annual Average Status Code,Annual Average Establishment Count,Annual Average Employment,Annual Total Wages,Annual Average Weekly Wage,Annual Average Pay,Employment Location Quotient Relative to U.S.,Total Wage Location Quotient Relative to U.S.
0,0,US000,US,0.0,0,10,2009,A,Nation,NaN,...,Total Covered,"Total, all industries",NaN,9003197,128607842,5859232421804,876,45559,1.00,1.00
1,1,US000,US,0.0,1,10,2009,A,Nation,NaN,...,Federal Government,"Total, all industries",NaN,65581,2826713,191527700301,1303,67756,1.00,1.00
2,2,US000,US,0.0,2,10,2009,A,Nation,NaN,...,State Government,"Total, all industries",NaN,67075,4639715,226148902574,937,48742,1.00,1.00
3,3,US000,US,0.0,3,10,2009,A,Nation,NaN,...,Local Government,"Total, all industries",NaN,161427,14194311,612344013533,830,43140,1.00,1.00
4,4,US000,US,0.0,5,10,2009,A,Nation,NaN,...,Private,"Total, all industries",NaN,8709115,106947104,4829211805396,868,45155,1.00,1.00
5,5,US000,US,0.0,5,101,2009,A,Nation,NaN,...,Private,Goods-producing,NaN,1309417,19542766,1026060190008,1010,52503,1.00,1.00
6,6,US000,US,0.0,5,1011,2009,A,Nation,NaN,...,Private,Natural resources and mining,NaN,126141,1783558,84585803674,912,47425,1.00,1.00
7,7,US000,US,0.0,5,1012,2009,A,Nation,NaN,...,Private,Construction,NaN,831969,5948837,293408291849,948,49322,1.00,1.00
8,8,US000,US,0.0,5,1013,2009,A,Nation,NaN,...,Private,Manufacturing,NaN,351307,11810371,648066094485,1055,54873,1.00,1.00
9,9,US000,US,0.0,5,102,2009,A,Nation,NaN,...,Private,Service-providing,NaN,7399698,87404338,3803151615388,837,43512,1.00,1.00
10,10,US000,US,0.0,5,1021,2009,A,Nation,NaN,...,Private,"Trade, transportation, and utilities",NaN,1887077,24651647,941326251197,734,38185,1.00,1.00
11,11,US000,US,0.0,5,1022,2009,A,Nation,NaN,...,Private,Information,NaN,145685,2807721,199883516662,1369,71191,1.00,1.00
12,12,US000,US,0.0,5,1023,2009,A,Nation,NaN,...,Private,Financial activities,NaN,836334,7589821,531632702220,1347,70045,1.00,1.00
13,13,US000,US,0.0,5,1024,2009,A,Nation,NaN,...,Private,Professional and business services,NaN,1523134,16488835,962020207480,1122,58344,1.00,1.00
14,14,US000,US,0.0,5,1025,2009,A,Nation,NaN,...,Private,Education and health services,NaN,866746,18321635,788599082957,828,43042,1.00,1.00
15,15,US000,US,0.0,5,1026,2009,A,Nation,NaN,...,Private,Leisure and hospitality,NaN,737666,13001028,245710695071,363,18899,1.00,1.00
16,16,US000,US,0.0,5,1027,2009,A,Nation,NaN,...,Private,Other services,NaN,1227133,4369780,125912852741,554,28814,1.00,1.00
17,17,US000,US,0.0,5,1029,2009,A,Nation,NaN,...,Private,Unclassified,NaN,175923,173872,8066307060,892,46392,1.00,1.00
18,18,01000,01,0.0,0,10,2009,A,State,Alabama,...,Total Covered,"Total, all industries",NaN,117732,1829487,72121371781,758,39422,1.00,1.00
19,19,01000,01,0.0,1,10,2009,A,State,Alabama,...,Federal Government,"Total, all industries",NaN,1301,54001,3785625300,1348,70103,1.34,1.61
20,20,01000,01,0.0,2,10,2009,A,State,Alabama,...,State Government,"Total, all industries",NaN,1370,95969,4452219433,892,46392,1.45,1.60
21,21,01000,01,0.0,3,10,2009,A,State,Alabama,...,Local Government,"Total, all industries",NaN,3792,216524,7804240720,693,36043,1.07,1.04
22,22,01000,01,0.0,5,10,2009,A,State,Alabama,...,Private,"Total, all industries",NaN,111269,1462992,56079286328,737,38332,0.96,0.94
23,23,01000,01,0.0,5,101,2009,A,State,Alabama,...,Private,Goods-producing,NaN,18083,358758,16113821478,864,44916,1.29,1.28
24,24,01000,01,0.0,5,1011,2009,A,State,Alabama,...,Private,Natural resources and mining,NaN,1719,19613,904298368,887,46108,0.77,0.87
25,25,01000,01,0.0,5,1012,2009,A,State,Alabama,...,Private,Construction,NaN,11058,91601,3827582267,804,41785,1.08,1.06
26,26,01000,01,0.0,5,1013,2009,A,State,Alabama,...,Private,Manufacturing,NaN,5307,247544,11381940843,884,45980,1.47,1.43
27,27,01000,01,0.0,5,102,2009,A,State,Alabama,...,Private,Service-providing,NaN,93186,1104235,39965464850,696,36193,0.89,0.85
28,28,01000,01,0.0,5,1021,2009,A,State,Alabama,...,Private,"Trade, transportation, and utilities",NaN,31332,361576,12353133206,657,34165,1.03,1.07
29,29,01000,01,0.0,5,1022,2009,A,State,Alabama,...,Private,Information,NaN,1544,24908,1190564772,919,47798,0.62,0.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627803,627803,C4970,NaN,NaN,5,1011,2018,A,MSA,NaN,...,Private,1011 Natural resources and mining,NaN,611,5751,197372349,660,34322,8.83,6.45
627804,627804,C4970,NaN,NaN,5,1012,2018,A,MSA,NaN,...,Private,1012 Construction,NaN,293,2276,130054321,1099,57131,0.94,1.08
627805,627805,C4970,NaN,NaN,5,1013,2018,A,MSA,NaN,...,Private,1013 Manufacturing,NaN,110,2190,128075738,1124,58471,0.52,0.56
627806,627806,C4970,NaN,NaN,5,102,2018,A,MSA,NaN,...,Private,102 Service-providing,NaN,3726,27570,1117060243,779,40517,0.80,0.74
627807,627807,C4970,NaN,NaN,5,1021,2018,A,MSA,NaN,...,Private,"1021 Trade, transportation, and utilities",NaN,657,9061,371889955,789,41044,0.98,1.08
627808,627808,C4970,NaN,NaN,5,1022,2018,A,MSA,NaN,...,Private,1022 Information,NaN,15,251,13740263,1053,54778,0.27,0.16
627809,627809,C4970,NaN,NaN,5,1023,2018,A,MSA,NaN,...,Private,1023 Financial activities,NaN,257,1442,82935544,1106,57504,0.52,0.40
627810,627810,C4970,NaN,NaN,5,1024,2018,A,MSA,NaN,...,Private,1024 Professional and business services,NaN,358,3157,154947521,944,49078,0.45,0.37
627811,627811,C4970,NaN,NaN,5,1025,2018,A,MSA,NaN,...,Private,1025 Education and health services,NaN,1918,8099,377437095,896,46605,1.06,1.25
627812,627812,C4970,NaN,NaN,5,1026,2018,A,MSA,NaN,...,Private,1026 Leisure and hospitality,NaN,296,4578,82292394,346,17975,0.84,0.80
627813,627813,C4970,NaN,NaN,5,1027,2018,A,MSA,NaN,...,Private,1027 Other services,NaN,203,960,33152172,664,34528,0.63,0.72
627814,627814,C4970,NaN,NaN,5,1029,2018,A,MSA,NaN,...,Private,1029 Unclassified,NaN,22,23,665299,569,29569,0.53,0.34
627815,627815,C4974,NaN,NaN,0,10,2018,A,MSA,NaN,...,Total Covered,"10 Total, all industries",NaN,3217,67639,2658141277,756,39299,1.00,1.00
627816,627816,C4974,NaN,NaN,1,10,2018,A,MSA,NaN,...,Federal Government,"10 Total, all industries",NaN,55,3533,280891165,1529,79509,2.73,3.78
627817,627817,C4974,NaN,NaN,2,10,2018,A,MSA,NaN,...,State Government,"10 Total, all industries",NaN,17,1550,69638939,864,44943,0.72,0.78
627818,627818,C4974,NaN,NaN,3,10,2018,A,MSA,NaN,...,Local Government,"10 Total, all industries",NaN,98,9103,349829024,739,38429,1.39,1.51
627819,627819,C4974,NaN,NaN,5,10,2018,A,MSA,NaN,...,Private,"10 Total, all industries",NaN,3047,53453,1957782149,704,36626,0.93,0.87
627820,627820,C4974,NaN,NaN,5,101,2018,A,MSA,NaN,...,Private,101 Goods-producing,NaN,644,18323,613174497,644,33466,1.81,1.34
627821,627821,C4974,NaN,NaN,5,1011,2018,A,MSA,NaN,...,Private,1011 Natural resources and mining,NaN,239,13097,408447537,600,31186,14.61,11.13
627822,627822,C4974,NaN,NaN,5,1012,2018,A,MSA,NaN,...,Private,1012 Construction,NaN,314,2552,94456191,712,37007,0.76,0.66
627823,627823,C4974,NaN,NaN,5,1013,2018,A,MSA,NaN,...,Private,1013 Manufacturing,NaN,91,2673,110270769,793,41256,0.46,0.40
627824,627824,C4974,NaN,NaN,5,102,2018,A,MSA,NaN,...,Private,102 Service-providing,NaN,2403,35131,1344607652,736,38275,0.74,0.74
627825,627825,C4974,NaN,NaN,5,1021,2018,A,MSA,NaN,...,Private,"1021 Trade, transportation, and utilities",NaN,676,10876,401965069,711,36960,0.86,0.97
627826,627826,C4974,NaN,NaN,5,1022,2018,A,MSA,NaN,...,Private,1022 Information,NaN,36,492,19654527,768,39948,0.38,0.19
627827,627827,C4974,NaN,NaN,5,1023,2018,A,MSA,NaN,...,Private,1023 Financial activities,NaN,257,1754,72930653,799,41570,0.46,0.29
627828,627828,C4974,NaN,NaN,5,1024,2018,A,MSA,NaN,...,Private,1024 Professional and business services,NaN,419,6812,298044310,841,43756,0.71,0.60
627829,627829,C4974,NaN,NaN,5,1025,2018,A,MSA,NaN,...,Private,1025 Education and health services,NaN,387,7906,397919796,968,50330,0.75,1.10
627830,627830,C4974,NaN,NaN,5,1026,2018,A,MSA,NaN,...,Private,1026 Leisure and hospitality,NaN,326,5961,112255126,362,18831,0.80,0.91
627831,627831,C4974,NaN,NaN,5,1027,2018,A,MSA,NaN,...,Private,1027 Other services,NaN,248,1295,40706618,605,31438,0.62,0.74
627832,627832,C4974,NaN,NaN,5,1029,2018,A,MSA,NaN,...,Private,1029 Unclassified,NaN,55,35,1131553,625,32485,0.59,0.49

In [7]:
merge_df = pd.merge(bls, df_z_data, on=["FIPS","Year"])

In [8]:
# merge_df.to_csv('resources/merged_Data/merge.csv')

In [9]:
#for index, row in merge_df.iterrows():
 #   if row["Ownership"] == "Federal Government":
  #      merge_df.set_value(index,'Industry','Federal Government')
   # if row["Ownership"] == "State Government":
    #    merge_df.set_value(index,'Industry','State Government')
    #if row["Ownership"] == "Local Government":
     #   merge_df.set_value(index,'Industry','Local Government')
    #print(index)
    
#for index, row in merge_df.iterrows():
 #   if row["Industry"] == "Total, all industries":
  #      merge_df.drop(index, inplace=True)
   # print(index)
#Create boolean list  bsed on values of coumns and replace based on list
mask_federal = (merge_df["Ownership"] == "Federal Government") 
merge_df["Industry"][mask_federal] = "Federal Government"

mask_state = (merge_df["Ownership"] == "State Government") 
merge_df["Industry"][mask_state] = "State Government"

mask_local = (merge_df["Ownership"] == "Local Government") 
merge_df["Industry"][mask_local] = "Local Government"

merge_df[['Ownership','Industry']]


# Get names of indexes for which column Industry = All industries
indexNames = merge_df[ merge_df['Industry'] == "Total, all industries"].index
 
# Delete these row indexes from dataFrame
merge_df.drop(indexNames , inplace=True)

print("test")

C:\Users\Aaron\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\Aaron\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Aaron\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

test

In [10]:
merge_df[['Ownership','Industry']]

                 Ownership                                   Industry
1       Federal Government                         Federal Government
2         State Government                           State Government
3         Local Government                           Local Government
5                  Private                            Goods-producing
6                  Private               Natural resources and mining
7                  Private                               Construction
8                  Private                              Manufacturing
9                  Private                          Service-providing
10                 Private       Trade, transportation, and utilities
11                 Private                                Information
12                 Private                       Financial activities
13                 Private         Professional and business services
14                 Private              Education and health services
15                 Private                    Leisure and hospitality
16                 Private                             Other services
18      Federal Government                         Federal Government
19        State Government                           State Government
20        Local Government                           Local Government
22                 Private                            Goods-producing
23                 Private               Natural resources and mining
24                 Private                               Construction
25                 Private                              Manufacturing
26                 Private                          Service-providing
27                 Private       Trade, transportation, and utilities
28                 Private                                Information
29                 Private                       Financial activities
30                 Private         Professional and business services
31                 Private              Education and health services
32                 Private                    Leisure and hospitality
33                 Private                             Other services
...                    ...                                        ...
344272             Private                   10 Total, all industries
344273             Private                        101 Goods-producing
344274             Private          1011 Natural resources and mining
344275             Private                          1012 Construction
344276             Private                         1013 Manufacturing
344277             Private                      102 Service-providing
344278             Private  1021 Trade, transportation, and utilities
344279             Private                           1022 Information
344280             Private                  1023 Financial activities
344281             Private    1024 Professional and business services
344282             Private         1025 Education and health services
344283             Private               1026 Leisure and hospitality
344284             Private                        1027 Other services
344285       Total Covered                   10 Total, all industries
344286  Federal Government                         Federal Government
344287    State Government                           State Government
344288    Local Government                           Local Government
344289             Private                   10 Total, all industries
344290             Private                        101 Goods-producing
344291             Private          1011 Natural resources and mining
344292             Private                          1012 Construction
344293             Private                         1013 Manufacturing
344294             Private                      102 Service-providing
344295             Private  1021 Trade, transportation, and utilities
344296             Private                           1022 Information
344297             Private                  1023 Financial activities
344298             Private    1024 Professional and business services
344299             Private         1025 Education and health services
344300             Private               1026 Leisure and hospitality
344301             Private                        1027 Other services

[312750 rows x 2 columns]

In [11]:
merge_df.to_csv('resources/merged_Data/merge.csv')